/* light style */

a {
	color: blue;
	text-decoration: none;
}

body {
	margin-left: 10%;
	margin-right: 10%;
}

code {
	padding: 2px;
}

.content {
	background-color: white;
}

.docs b {
	color: black;
}

.docs p {
	color: red;
}

.docs embed {
	height: 800px;
}

embed {
	height: 100px;
	width: 100%;
}

footer {
	border-left: solid 1px lightgrey;
	border-bottom: solid 1px lightgrey;
	border-bottom-left-radius: 16px;
	padding: 5px;
}

#grid, #smooth {
	border-collapse: collapse;
	padding: 5px;
}

#grid td {
	border: solid 1px lightgrey;
}

header {
	border-left: solid 1px lightgrey;
	border-top: solid 1px lightgrey;
	border-top-left-radius: 16px;
	padding: 5px;
}

header a {
	color: inherit;
}

html {
	background-color: white;
	color: black;
}

#smooth {
	border-radius: 8px;
}

table {
	width: 100%;
}

td {
	padding: 5px;
}