/* hackery style */

a {
  color: green;
}

body {
	margin-left: 10%;
	margin-right: 10%;
}

code {
	padding: 2px;
}

.credit {
  text-align: center;
}

embed {
	height: 800px;
	width: 100%;
}

footer {
	border-left: solid 1px;
	border-bottom: solid 1px;
	border-bottom-left-radius: 16px;
	padding: 5px;
}

#grid, #smooth {
	border-collapse: collapse;
	padding: 5px;
}

#grid td {
	border: solid 1px;
	border-color: green;
}

header {
	border-left: solid 1px;
	border-top: solid 1px;
	border-top-left-radius: 16px;
	padding: 5px;
}

header a {
	text-decoration: none;
}

html {
	background-color: white;
	border-color: green;
	color: green;
}

#license {
  text-decoration: underline;
}

.red {
  color: red;
}

#smooth {
	border-radius: 8px;
}

table {
	width: 100%;
}

td {
	padding: 10px;
}