<!doctype html>
<html lang = "en">
	<head>
		<meta charset = "utf-8" />
	</head>
	<body>
		<link href = "/share/css/stylesheet.css" rel = "stylesheet" />
		<header>
			<table>
				<tr>
					<td align = "left">
						<a href = "/index.html">
							<!--&#223;-->&#946;<!--&#976;-->&#7517;&#7526;. defino 2021
							<br />
							&lt;bdefino.github.io&gt;
						</a>
					</td>
				</tr>
			</table>
			<hr />
			<i class = "red">this site intentionally receives infrequent, incomplete updates: enjoy</i>
		</header>
%s
	</body>
</html>

