<!doctype html>
<html lang = "en">
	<head>
		<meta charset = "utf-8" />
	</head>
	<body>
		<link href = "/share/css/stylesheet.css" rel = "stylesheet" />
		<header>
			<table>
				<tr>
					<td align = "left">
						<a href = "/index.html">
							&#223;. Defino <span id = "year"></span>
							<br />
							&lt;<span id = "origin"></span>&gt;
						</a>
					</td>
					<td align = "right">
						<a href = "/share/downloads/resume.pdf">R&Eacute;SUM&Eacute;</a>
					</td>
				</tr>
			</table>
		</header>
		<script type = "text/javascript">
			/* update the header to use the current origin/year */

			document.getElementById("origin").innerText = document.location.origin;
			document.getElementById("year").innerText = (new Date()).getFullYear();
		</script>
%s
	</body>
</html>

