/* light style */

a {
  color: white;
  text-decoration: none;
}

.align-right {
  text-align: right;
}

code {
	padding: 2px;
}

.credit {
  text-align: center;
}

embed {
	height: 800px;
	width: 100%;
}

#grid {
	border-collapse: collapse;
	padding: 5px;
}

#grid td {
	border: solid 1px lightgrey;
}

html {
  background-color: black;
	border-color: lightgrey;
	color: green;
	font-family: Arial, Helvetica, sans-serif;
}

.red {
  color: red;
}

table {
	width: 100%;
}

td {
	padding: 10px;
}
