/* light style */

a {
  color: blue;
  text-decoration: none;
}

.align-right {
  text-align: right;
}

body {
  background: lightgrey;
  /*background-attachment: fixed;
  background-image: url("/share/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
}

code {
	padding: 2px;
}

.credit {
  text-align: center;
}

embed {
	height: 75%;
	width: 75%;
}

#grid {
	border-collapse: collapse;
	padding: 5px;
}

#grid td {
	border: solid 1px lightgrey;
}

html {
	border-color: lightgrey;
	font-family: Arial, Helvetica, sans-serif;
}

.red {
  color: red;
}

table {
	width: 100%;
}

td {
	padding: 10px;
}
