/* light style */

a {
	color: lightgreen;
	text-decoration: bold;
	text-shadow: -4px -4px purple;
}

.align-right {
	text-align: right;
}

code {
	padding: 2px;
}

.credit {
  text-align: center;
}

embed {
	height: 75%;
	width: 75%;
}

#grid {
	border-collapse: collapse;
	padding: 5px;
}

#grid td {
	border: solid 1px green;
}

html {
	background-image: url(/share/images/lines.gif);
	border-color: green;
	color: lightgreen;
	font-family: Courier New, monospace;
	text-shadow: -2px -2px purple;
}

.red {
	color: red;
}

table {
	width: 100%;
}

td {
	padding: 5px;
}
